.nds-search-property :is(
    input[type="submit"], 
    button[type="submit"]
) {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.nds-search-property select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 1.05983L6 6.98291L0.5 1.05983' stroke='%235F5F5F' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;  
    background-size: 12px 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px !important;
    cursor: pointer;
}

/* Google Maps Info Window */
.gm-style-iw-d {
    overflow: auto !important;
}
.gm-style-iw.gm-style-iw-c {
    padding: 0;    
}
.gm-style-iw-chr {
    position: absolute;
    right: 0;
}