.nds-hero-carousel .swiper-horizontal>.swiper-pagination-bullets, 
.nds-hero-carousel .swiper-pagination-horizontal.swiper-pagination-bullets {
    bottom: 60px !important;
}
.nds-hero-carousel .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.nds-hero-carousel .swiper-pagination .swiper-pagination-bullet {
    background-color: #D0D0D0;
    opacity: 0.5;
}
.nds-hero-carousel .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
}