.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 40px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
    border-radius: 50%;
}

.footer-description {
  max-width: 401px;
  font-size: 14px;
}

.footer-description .custom-logo {
  max-width: 187px;
}

.footer-site-title {
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: 500;
  text-transform: lowercase;
}

.footer-links {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    width: 835px;
    max-width: 100%;
}

.footer-column h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #1C1C1C;
  transition: opacity 0.3s;
}

.footer-column ul li a:hover {
  opacity: 0.7;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom-left p {
  font-size: 13px;
  margin: 0;
}

.footer-bottom-left p span {
  color: var(--color-accent);
  font-weight: 400;
}

.footer-bottom-left a {
  font-weight: 700;
  font-size: 13px;
  color: #1C1C1C;
  text-decoration: none;
}

.footer-bottom-left a:hover {
  opacity: 0.7;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-social a {
  color: #D7CFC5;
  font-size: 16px;
  margin-left: 12px;
  text-decoration: none;
}

.footer-social a:hover {
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 991px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
@media (max-width: 768px) {
    .footer-brand {
        flex-direction: column;
        align-items: flex-start;
    }

  .footer-links {
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom-left p {
    text-align: center;
    line-height: 1.8;
  }
  .footer-social {
    order: -1;
  }
}
